<div class="container">
  <% if !@logged_in %>
    <form action="/login" method="post">
      <input type="text" name="email" value="email" onclick='javascript: this.value = ""'>
      <input type="password" name="password" value="password" onclick='javascript: this.value = ""'>
      <button class="submit-button" type="submit">Log in</button>
    </form>
  <% elsif @logged_in %>
    <p>Hello, <%= session[:name] %></p>
  <% end %>
  <h1>Surly</h1>
  <form id="surly-form" action="/urls" method="post">
    <input class="submit-text" type="text" name="long_url" value="enter a url" onclick='javascript: this.value = ""'>
    <button class="submit-button" type="submit">Shorten!</button>
    <% if @logged_in %>
    <br><br>
    <input type="checkbox" name="private" value="true"> Private URL?
    <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
    <% end %>
  </form>
  <% if @error %>
    <p class="error-message">Invalid URL</p>
  <% elsif @short_key %>
    <p class="short-url">Your shortened url:
      <a href="http://localhost:9393/<%= @short_key %>"> http://localhost:9393/<%= @short_key %>
      </a>
    </p>
  <% end %>
</div>
